body{
  background:white;
}
.top{
  border: 5px solid rgb(1, 0, 0);
  height: 100px;
  width: 100%;
  color: rgb(255, 0, 170);
  text-align: center;
  align-content: center;
  font-size: 40px;
}
.index{
  display: grid;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 30%;
  gap:5%
}
.mainbtn{
  height: 180px;
  width: 180px;
  font-size: 30px;
  color: rgb(13, 13, 14);
}
.right{
  align-content: center;
  margin-top: 10%;
  margin-left: 35%;
  height: 30%;
  width: 30%;}
.form1{
  font-size: 30px;
  align-content: center;
  margin-left: 20%;
  width: 50%;
  margin-bottom: 70px;
}
.input{
   height: 30px;
   width: 290px;
}
.btn{
  margin-top: 30px;
  height: 40px;
   width: 80px;
   background: #070808;
   color: #f4ebeb;
}
.btn:hover{
  color:#070328
}